/* CSS Reset & Global Styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}
::placeholder {
  color: rgb(221, 221, 221);
}
.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgb(20, 19, 19);
  transition: 0.8s all;
}

h1 {
  text-align: center;
  margin-bottom: 1.5%;
  color: #fff;
}
.container {
  width: 300px;
}
.result {
  width: 59.1%;
}
input {
  padding: 25px;
  color: rgb(255, 255, 255);
  font-size: 1em;
  cursor: pointer;
  width: 70px;
  background-color: rgb(47, 51, 50);
  border: none;
  outline: none;
  border-radius: 40px;
}

.first-row,
.second-row,
.third-row,
.fourth-row,
.fifth-row {
  margin-bottom: 3px;
}
#three {
  background-color: #ffa6d5;
}
#two,
#six {
  background-color: #a2d2ff;
}
#four,
#eight {
  background-color: #cdf2ca;
}
#seven {
  background-color: #fef7dc;
}
#one,
#five,
#nine {
  background-color: #ffe699;
}
#plus,
#subtract,
#multiply,
#divide,
#divide {
  background-color: #d62ad0;
}
input[type="text"] {
  background-color: rgb(47, 51, 50);

  width: 218px;
}
input[type="button"]:hover {
  background-color: rgb(160, 160, 160);
  color: #fff;
}
#clear {
  color: #fff;
  background-color: rgb(255, 42, 42);
}
button {
  border: none;
  background-color: rgb(39, 36, 36);
  padding: 8px;
  color: white;
  margin: 2px;
  cursor: pointer;
  outline: none;
  border-radius: 40px;
  font-size: 0.8em;
  font-weight: 200;
}

a {
  text-decoration: none;
  color: #fff;
  border: none;
  background-color: rgb(39, 36, 36);
  padding: 8px;
  color: white;
  margin: 2px;
  border-radius: 40px;
  font-size: 0.8em;
  font-weight: 200;
}
.bottom-buttons {
  display: flex;
  margin: 10px 100px;
}
.fab {
  font-size: 1.1em;
}